<div class="container">
  <div class="heading">
    <h1>My Tasks</h1>
  </div>
  <div class="class-list">
    <% @tasks.each do |task| %>
      <ul>
        <li>
          <%= check_box_tag(:title) %>
          <%= link_to task_path(task.id) do %>
            <%= label_tag(:title, "#{task.title}") %>
          <% end  %>
          <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, delete_task_path(task.id), method: :delete, data: { confirm: "Are you sure?"} %>
        </li>
      </ul>
    <% end %>
  </div>
  <div>
    <%= link_to new_task_path do %>
    <div class="add-link">
      <i class="fas fa-plus"></i>
      <p style="margin: 0">Add new task</p>
    </div>
    <% end %>
  </div>
</div>
